body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:100px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1400px;
  height:100px;
  display:flex;
}
#u618 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u618_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1000px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:160px;
  width:1000px;
  height:1000px;
  display:flex;
}
#u619 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u619_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:170px;
  width:256px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u620 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u620_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(127, 127, 127, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(127, 127, 127, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(127, 127, 127, 0.647058823529412);
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:813px;
  height:25px;
}
#u621p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:804px;
  height:6px;
}
#u621p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:6px;
}
#u621p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:6px;
  height:4px;
}
#u621p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u621p002 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:-12px;
  width:28px;
  height:26px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u621p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:210px;
  width:800px;
  height:3px;
  display:flex;
}
#u621 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u621_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:500px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:160px;
  width:340px;
  height:500px;
  display:flex;
}
#u622 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u622_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:170px;
  width:128px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u623 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u623_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(127, 127, 127, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(127, 127, 127, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(127, 127, 127, 0.647058823529412);
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:253px;
  height:25px;
}
#u624p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:244px;
  height:6px;
}
#u624p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:6px;
}
#u624p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:6px;
  height:4px;
}
#u624p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u624p002 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:-12px;
  width:28px;
  height:26px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u624p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:210px;
  width:240px;
  height:3px;
  display:flex;
}
#u624 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u624_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:360px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:269px;
  width:300px;
  height:360px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u625 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u625_text {
  border-width:0px;
  word-wrap:break-word;
}
#u626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:100px;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1200px;
  width:1400px;
  height:100px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u626 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u626_text {
  border-width:0px;
  word-wrap:break-word;
}
#u627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:153px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:240px;
  width:180px;
  height:153px;
  display:flex;
}
#u627 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u627_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:253px;
  width:112px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u628 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u628_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(170, 170, 170, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(170, 170, 170, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(170, 170, 170, 0.647058823529412);
}
#u629_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:200px;
  height:22px;
}
#u629p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:184px;
  height:4px;
}
#u629p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:4px;
}
#u629p001 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-11px;
  width:24px;
  height:24px;
}
#u629p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u629p002 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u629p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:289px;
  width:180px;
  height:2px;
  display:flex;
}
#u629 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u629_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:305px;
  width:160px;
  height:33px;
  display:flex;
  font-size:20px;
}
#u630 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u630_text {
  border-width:0px;
  word-wrap:break-word;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:240px;
  width:760px;
  height:51px;
}
#u631_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 170, 170, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u631_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:12px;
  width:224px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u632 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u632_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:763px;
  height:5px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:760px;
  height:2px;
  display:flex;
}
#u633 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u633_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 170, 170, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u631_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:12px;
  width:168px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u634 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u634_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:763px;
  height:5px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:760px;
  height:2px;
  display:flex;
}
#u635 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u635_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 170, 170, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u631_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:12px;
  width:112px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u636 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u636_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:763px;
  height:5px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:760px;
  height:2px;
  display:flex;
}
#u637 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u637_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 170, 170, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u631_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:12px;
  width:112px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u638 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u638_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:763px;
  height:5px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:760px;
  height:2px;
  display:flex;
}
#u639 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u639_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:291px;
  width:760px;
  height:800px;
  visibility:hidden;
}
#u640_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:800px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u640_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u641_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
  padding:3px 2px 3px 2px;;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u641_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
  padding:3px 2px 3px 2px;;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:338px;
  width:146px;
  height:27px;
  display:flex;
}
#u641 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u641_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u641.disabled {
}
#u642 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:352px;
  width:28px;
  height:20px;
}
#u642_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:6px;
  height:20px;
  display:flex;
}
#u644 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u644_text {
  border-width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:352px;
  width:28px;
  height:20px;
}
#u645_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:6px;
  height:20px;
  display:flex;
}
#u647 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u647_text {
  border-width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u648_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:3px 2px 3px 2px;;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u648_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:3px 2px 3px 2px;;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:322px;
  width:300px;
  height:25px;
  display:flex;
}
#u648 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u648_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648.disabled {
}
#u649_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:3px 2px 3px 2px;;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u649_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:3px 2px 3px 2px;;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:362px;
  width:300px;
  height:25px;
  display:flex;
}
#u649 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u649_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u649.disabled {
}
#u650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:322px;
  width:140px;
  height:25px;
  display:flex;
}
#u650 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u650_text {
  border-width:0px;
  word-wrap:break-word;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:400px;
  width:200px;
  height:90px;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u652 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u652_text {
  border-width:0px;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u653 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u653_text {
  border-width:0px;
  word-wrap:break-word;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u654 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u654_text {
  border-width:0px;
  word-wrap:break-word;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u655 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u655_text {
  border-width:0px;
  word-wrap:break-word;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u656 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u656_text {
  border-width:0px;
  word-wrap:break-word;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u657 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u657_text {
  border-width:0px;
  word-wrap:break-word;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:299px;
  width:118px;
  height:20px;
}
#u658_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u660 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u660_img.selected {
}
#u660.selected {
}
#u660_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:96px;
  height:20px;
  display:flex;
}
#u661 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u661_text {
  border-width:0px;
  white-space:nowrap;
}
#u659_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:170px;
  height:20px;
}
#u663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:148px;
  height:20px;
  display:flex;
}
#u663 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u663_text {
  border-width:0px;
  white-space:nowrap;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:147px;
  height:20px;
}
#u665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:125px;
  height:20px;
  display:flex;
}
#u665 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u665_text {
  border-width:0px;
  white-space:nowrap;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:172px;
  height:20px;
}
#u667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:150px;
  height:20px;
  display:flex;
}
#u667 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u667_text {
  border-width:0px;
  white-space:nowrap;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:299px;
  width:92px;
  height:20px;
}
#u668_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u670 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u670_img.selected {
}
#u670.selected {
}
#u670_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
  display:flex;
}
#u671 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u671_text {
  border-width:0px;
  white-space:nowrap;
}
#u669_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:58px;
  height:20px;
}
#u673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:36px;
  height:20px;
  display:flex;
}
#u673 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u673_text {
  border-width:0px;
  white-space:nowrap;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:59px;
  height:20px;
}
#u675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:37px;
  height:20px;
  display:flex;
}
#u675 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u675_text {
  border-width:0px;
  white-space:nowrap;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:62px;
  height:20px;
}
#u677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:40px;
  height:20px;
  display:flex;
}
#u677 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
}
#u677_text {
  border-width:0px;
  white-space:nowrap;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:108px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1400px;
  height:108px;
  display:flex;
}
#u679 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u679_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:102px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1200px;
  width:1420px;
  height:102px;
  display:flex;
}
#u680 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u680_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:287px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:312px;
  width:287px;
  height:287px;
  display:flex;
}
#u681 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u681_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
