body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-25px;
  width:978px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:25px;
  width:220px;
  height:120px;
  display:flex;
}
#u0 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
}
#u0_ref {
  border-width:0px;
  position:absolute;
  left:617px;
  top:135px;
  width:1px;
  height:1px;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:195px;
  width:220px;
  height:120px;
  display:flex;
}
#u1 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:365px;
  width:220px;
  height:120px;
  display:flex;
}
#u2 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2_ref {
  border-width:0px;
  position:absolute;
  left:237px;
  top:475px;
  width:1px;
  height:1px;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:365px;
  width:220px;
  height:120px;
  display:flex;
}
#u3 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:365px;
  width:220px;
  height:120px;
  display:flex;
}
#u4 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:365px;
  width:220px;
  height:120px;
  display:flex;
}
#u5 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:145px;
  width:0px;
  height:0px;
}
#u6_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:315px;
  width:0px;
  height:0px;
}
#u7_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u7_seg1 {
  border-width:0px;
  position:absolute;
  left:-384px;
  top:31px;
  width:388px;
  height:8px;
}
#u7_seg2 {
  border-width:0px;
  position:absolute;
  left:-384px;
  top:31px;
  width:8px;
  height:19px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:-230px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:315px;
  width:0px;
  height:0px;
}
#u8_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u8_seg1 {
  border-width:0px;
  position:absolute;
  left:-131px;
  top:31px;
  width:135px;
  height:8px;
}
#u8_seg2 {
  border-width:0px;
  position:absolute;
  left:-131px;
  top:31px;
  width:8px;
  height:19px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:315px;
  width:0px;
  height:0px;
}
#u9_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u9_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:31px;
  width:133px;
  height:8px;
}
#u9_seg2 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:31px;
  width:8px;
  height:19px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:315px;
  width:0px;
  height:0px;
}
#u10_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u10_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:31px;
  width:386px;
  height:8px;
}
#u10_seg2 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:31px;
  width:8px;
  height:19px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:129px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
